body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
}

.cart {
    list-style: none;
    width: 10%;
}

#cart-count {
    background: rgb(142, 5, 5);
    color: #fff;
    border-radius: 20px;
    padding: 1px 5px;
    opacity: 0;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    color: #ffbb00;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #000000af;
}

header {
    box-shadow: 0 0 2px #0000004b;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background: #fff;
}

#product {
    padding-top: 10%;
    padding-bottom: 2%;
}

#product img,
#cart-page img {
    height: 35vh;
}

.my-width {
    width: 10vw;
}

.my-margin {
    margin-top: 30%;
}

.box {
    background: #fff;
    box-shadow: 0 0 4px #0000008e;
    padding: 1% 2%;
    border-radius: 10px;
    margin: 2% 0;
}

#confirm1 {
    display: none;
}

#product1,
#product2,
#product3,
#product4,
#product5,
#product6 {
    display: none;
}


@media only screen and (max-width: 1200px) {

    #product img,
    #cart-page img {
        height: 50vh;
    }

    .my-margin {
        margin-top: 60%;
    }
}

@media only screen and (max-width: 768px) {

    .my-width {
        width: 40%;
    }
}